TI/flows.json
[
    {
        "id": "67b40761914ffe1e",
        "type": "tab",
        "label": "Analisador",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Gerador de dataset",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0aad3cdfc49709c",
        "type": "junction",
        "z": "f6f2187d.f17ca8",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "7c669de5fc557300",
                "7c8cee45fcc05e3d",
                "5b808d2848333f49"
            ]
        ]
    },
    {
        "id": "7e52b1c4ba151c11",
        "type": "junction",
        "z": "67b40761914ffe1e",
        "x": 620,
        "y": 500,
        "wires": [
            [
                "0b079179675f5ac8",
                "28dec45b18e677e4"
            ]
        ]
    },
    {
        "id": "657453b2b04af17b",
        "type": "ui_tab",
        "name": "Montar dataset",
        "icon": "folder",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "88a27308449e104f",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Smart 4.0",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 120,
                "sy": 120,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f42324fcb4554ff0",
        "type": "ui_group",
        "name": "Dataset",
        "tab": "657453b2b04af17b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "360895d7e97076b2",
        "type": "ui_group",
        "name": "Ao vivo 🔴",
        "tab": "657453b2b04af17b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "736c295f87bb6595",
        "type": "ui_group",
        "name": "Imagem original",
        "tab": "657453b2b04af17b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18c4d80ec88e4afe",
        "type": "ui_group",
        "name": "Imagem modificada",
        "tab": "657453b2b04af17b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04c2793207fd2604",
        "type": "ui_group",
        "name": "Datasets",
        "tab": "657453b2b04af17b",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6249c630f3c5a005",
        "type": "ui_spacer",
        "z": "f6f2187d.f17ca8",
        "name": "spacer",
        "group": "f42324fcb4554ff0",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "b970ab30672de6e6",
        "type": "ui_tab",
        "name": "Avaliar treinamento",
        "icon": "videocam",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ecc1fda3025dc1ef",
        "type": "ui_group",
        "name": "Ao vivo 🔴",
        "tab": "b970ab30672de6e6",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e14ed4131319e52",
        "type": "ui_group",
        "name": "Resultado",
        "tab": "b970ab30672de6e6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93cb7bab658a2eb0",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.150.30",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "DB57,X18.0",
                "name": "triggerIA"
            },
            {
                "addr": "DB57,X18.1",
                "name": "respostaIA"
            }
        ]
    },
    {
        "id": "76f1f52ef37bf197",
        "type": "ui_spacer",
        "z": "67b40761914ffe1e",
        "name": "spacer",
        "group": "1e14ed4131319e52",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "be7aee677fb3298c",
        "type": "ui_spacer",
        "z": "67b40761914ffe1e",
        "name": "spacer",
        "group": "1e14ed4131319e52",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "b825112b01ee91e9",
        "type": "teachable machine",
        "z": "67b40761914ffe1e",
        "name": "",
        "mode": "online",
        "modelUri": "https://teachablemachine.withgoogle.com/models/lB9dKj-e3/",
        "localModel": "teachable_model",
        "output": "all",
        "activeThreshold": false,
        "threshold": "80",
        "activeMaxResults": false,
        "maxResults": "3",
        "passThrough": false,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "7e52b1c4ba151c11"
            ]
        ]
    },
    {
        "id": "c9f4fccdde3ffd4e",
        "type": "ui_webcam",
        "z": "67b40761914ffe1e",
        "name": "Ao vivo",
        "group": "ecc1fda3025dc1ef",
        "order": 1,
        "width": 6,
        "height": 5,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": true,
        "showImage": -1,
        "mirror": true,
        "format": "jpeg",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "e4ce6301998fce51"
            ]
        ]
    },
    {
        "id": "ee545fda47a07e63",
        "type": "ui_button",
        "z": "67b40761914ffe1e",
        "name": "",
        "group": "ecc1fda3025dc1ef",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Avaliar",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "boa",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "36c99b677f12e753"
            ]
        ]
    },
    {
        "id": "36c99b677f12e753",
        "type": "change",
        "z": "67b40761914ffe1e",
        "name": "Cria mensagem",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "capture",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "c9f4fccdde3ffd4e",
                "d928f68cb45a7801"
            ]
        ]
    },
    {
        "id": "5d1e4b3c74032414",
        "type": "ui_text",
        "z": "67b40761914ffe1e",
        "group": "1e14ed4131319e52",
        "order": 1,
        "width": 6,
        "height": "2",
        "name": "",
        "label": "Resultado:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "35d2d6f010e50524",
        "type": "jimp-image",
        "z": "67b40761914ffe1e",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "130",
        "parameter1Type": "num",
        "parameter2": "50",
        "parameter2Type": "num",
        "parameter3": "360",
        "parameter3Type": "num",
        "parameter4": "360",
        "parameter4Type": "num",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 4,
        "jimpFunction": "crop",
        "selectedJimpFunction": {
            "name": "crop",
            "fn": "crop",
            "description": "crop to the given region",
            "parameters": [
                {
                    "name": "x",
                    "type": "num",
                    "required": true,
                    "hint": "the x coordinate to crop form"
                },
                {
                    "name": "y",
                    "type": "num",
                    "required": true,
                    "hint": "the y coordinate to crop form"
                },
                {
                    "name": "w",
                    "type": "num",
                    "required": true,
                    "hint": "the width of the crop region"
                },
                {
                    "name": "h",
                    "type": "num",
                    "required": true,
                    "hint": "the height of the crop region"
                }
            ]
        },
        "x": 450,
        "y": 400,
        "wires": [
            [
                "70dbe3be9e32c7cd"
            ]
        ]
    },
    {
        "id": "28dec45b18e677e4",
        "type": "function",
        "z": "67b40761914ffe1e",
        "name": "Cria string de resultado",
        "func": "msg.payload = msg.payload[0].class + \" - \" + msg.payload[0].score.toFixed(2)*100 + \"%\\n\" + msg.payload[1].class + \" - \" + msg.payload[1].score.toFixed(2)*100 +\"%\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 460,
        "wires": [
            [
                "5d1e4b3c74032414"
            ]
        ]
    },
    {
        "id": "2c723110acb733a6",
        "type": "ui_media",
        "z": "67b40761914ffe1e",
        "group": "1e14ed4131319e52",
        "name": "",
        "width": 3,
        "height": 5,
        "order": 3,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 830,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2047777b10ae80f9",
        "type": "ui_led",
        "z": "67b40761914ffe1e",
        "order": 2,
        "group": "1e14ed4131319e52",
        "width": 3,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ffff00",
                "value": "yellow",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 770,
        "y": 740,
        "wires": []
    },
    {
        "id": "0b079179675f5ac8",
        "type": "function",
        "z": "67b40761914ffe1e",
        "name": "Controla estado do led",
        "func": "if (msg.payload[0].class === \"good\") {\n    msg.payload = true;\n} else if (msg.payload[0].class === \"bad\") {\n    msg.payload = false;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 560,
        "wires": [
            [
                "20512c9622bbc668",
                "8444270baa294874",
                "540c0e500baeefca"
            ]
        ]
    },
    {
        "id": "e4ce6301998fce51",
        "type": "switch",
        "z": "67b40761914ffe1e",
        "name": "Verifica se a imagem não é \"vazia\"",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 220,
        "y": 400,
        "wires": [
            [
                "35d2d6f010e50524"
            ]
        ]
    },
    {
        "id": "608f0943029dfd2d",
        "type": "status",
        "z": "67b40761914ffe1e",
        "name": "",
        "scope": [
            "b825112b01ee91e9"
        ],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "6731411a8d75f731"
            ]
        ]
    },
    {
        "id": "6731411a8d75f731",
        "type": "function",
        "z": "67b40761914ffe1e",
        "name": "function 4",
        "func": "if(msg.status.text != \"ready\"){\n    msg.enable = false\n} else {\n    msg.enable = true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 140,
        "wires": [
            [
                "ee545fda47a07e63"
            ]
        ]
    },
    {
        "id": "70dbe3be9e32c7cd",
        "type": "jimp-image",
        "z": "67b40761914ffe1e",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "224",
        "parameter1Type": "num",
        "parameter2": "224",
        "parameter2Type": "num",
        "parameter3": "RESIZE_BEZIER",
        "parameter3Type": "resizeMode",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 630,
        "y": 400,
        "wires": [
            [
                "2c723110acb733a6",
                "1e0d9d7284034cb5",
                "b825112b01ee91e9"
            ]
        ]
    },
    {
        "id": "a1f56a2ff80c3141",
        "type": "s7 in",
        "z": "67b40761914ffe1e",
        "endpoint": "93cb7bab658a2eb0",
        "mode": "single",
        "variable": "triggerIA",
        "diff": true,
        "name": "recebe solicitação",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "36c99b677f12e753"
            ]
        ]
    },
    {
        "id": "20512c9622bbc668",
        "type": "s7 out",
        "z": "67b40761914ffe1e",
        "endpoint": "93cb7bab658a2eb0",
        "variable": "respostaIA",
        "name": "resultado",
        "x": 1120,
        "y": 580,
        "wires": []
    },
    {
        "id": "9d368439c8bb7cdc",
        "type": "s7 out",
        "z": "67b40761914ffe1e",
        "endpoint": "93cb7bab658a2eb0",
        "variable": "triggerIA",
        "name": "reset da solicitação",
        "x": 610,
        "y": 800,
        "wires": []
    },
    {
        "id": "1e0d9d7284034cb5",
        "type": "image",
        "z": "67b40761914ffe1e",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "9b8d6bd135caf198",
        "type": "delay",
        "z": "67b40761914ffe1e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 780,
        "wires": [
            [
                "9d368439c8bb7cdc",
                "afef0edcff3917cb"
            ]
        ]
    },
    {
        "id": "d928f68cb45a7801",
        "type": "debug",
        "z": "67b40761914ffe1e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "afef0edcff3917cb",
        "type": "change",
        "z": "67b40761914ffe1e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "yellow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 760,
        "wires": [
            [
                "2047777b10ae80f9",
                "5f8801b13e1c2317"
            ]
        ]
    },
    {
        "id": "8cf61cbeb4bbcd71",
        "type": "link in",
        "z": "67b40761914ffe1e",
        "name": "link in 1",
        "links": [
            "8444270baa294874"
        ],
        "x": 665,
        "y": 720,
        "wires": [
            [
                "2047777b10ae80f9"
            ]
        ]
    },
    {
        "id": "8444270baa294874",
        "type": "link out",
        "z": "67b40761914ffe1e",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "8cf61cbeb4bbcd71"
        ],
        "x": 1075,
        "y": 540,
        "wires": []
    },
    {
        "id": "540c0e500baeefca",
        "type": "change",
        "z": "67b40761914ffe1e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 780,
        "wires": [
            [
                "9b8d6bd135caf198"
            ]
        ]
    },
    {
        "id": "5f8801b13e1c2317",
        "type": "link out",
        "z": "67b40761914ffe1e",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "9ff58ba5b26e7289"
        ],
        "x": 735,
        "y": 780,
        "wires": []
    },
    {
        "id": "9ff58ba5b26e7289",
        "type": "link in",
        "z": "67b40761914ffe1e",
        "name": "link in 2",
        "links": [
            "5f8801b13e1c2317"
        ],
        "x": 735,
        "y": 500,
        "wires": [
            [
                "092cfc864c8302dd"
            ]
        ]
    },
    {
        "id": "092cfc864c8302dd",
        "type": "change",
        "z": "67b40761914ffe1e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Aguardando análise",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 500,
        "wires": [
            [
                "5d1e4b3c74032414"
            ]
        ]
    },
    {
        "id": "f0480aa503a19f96",
        "type": "inject",
        "z": "67b40761914ffe1e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 550,
        "y": 720,
        "wires": [
            [
                "afef0edcff3917cb"
            ]
        ]
    },
    {
        "id": "ad72e3bc0e861fa0",
        "type": "inject",
        "z": "67b40761914ffe1e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "36c99b677f12e753"
            ]
        ]
    },
    {
        "id": "e02a540650eab08c",
        "type": "inject",
        "z": "67b40761914ffe1e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"class\":\"good\",\"score\":1},{\"class\":\"bad\",\"score\":0}]",
        "payloadType": "json",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "7e52b1c4ba151c11"
            ]
        ]
    },
    {
        "id": "f00992b2fd6f295a",
        "type": "inject",
        "z": "67b40761914ffe1e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 620,
        "wires": [
            [
                "7e52b1c4ba151c11"
            ]
        ]
    },
    {
        "id": "7064bd48c8032894",
        "type": "ui_webcam",
        "z": "f6f2187d.f17ca8",
        "name": "Ao vivo",
        "group": "360895d7e97076b2",
        "order": 1,
        "width": 6,
        "height": 5,
        "countdown": false,
        "autoStart": true,
        "hideCaptureButton": true,
        "showImage": -1,
        "mirror": true,
        "format": "jpeg",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "8bc4974e4a716434"
            ]
        ]
    },
    {
        "id": "7c669de5fc557300",
        "type": "jimp-image",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "buf",
        "parameter1": "127",
        "parameter1Type": "num",
        "parameter2": "255",
        "parameter2Type": "num",
        "parameter3": "false",
        "parameter3Type": "bool",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "threshold",
        "selectedJimpFunction": {
            "name": "threshold",
            "fn": "threshold",
            "description": "apply one or more functions",
            "parameters": [
                {
                    "name": "max",
                    "group": "options",
                    "type": "num",
                    "required": true,
                    "hint": "max value of byte 0 ~ 255"
                },
                {
                    "name": "replace",
                    "group": "options",
                    "type": "num",
                    "required": false,
                    "hint": "replace with byte 0 ~ 255. Default is 255"
                },
                {
                    "name": "autoGreyscale",
                    "group": "options",
                    "type": "bool",
                    "required": false,
                    "hint": "default is true"
                }
            ]
        },
        "x": 400,
        "y": 360,
        "wires": [
            [
                "e2a1ec063a0dc526",
                "6a22c9a94b199b3f"
            ]
        ]
    },
    {
        "id": "d83a913471b3af38",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f42324fcb4554ff0",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Boa",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "boa",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "9bb41d188865252d"
            ]
        ]
    },
    {
        "id": "6467147f1ab2b41c",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f42324fcb4554ff0",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Ruim",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "ruim",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "9bb41d188865252d"
            ]
        ]
    },
    {
        "id": "9bb41d188865252d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Cria mensagem",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "capture",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "7064bd48c8032894"
            ]
        ]
    },
    {
        "id": "e2a1ec063a0dc526",
        "type": "ui_media",
        "z": "f6f2187d.f17ca8",
        "group": "18c4d80ec88e4afe",
        "name": "Exibe imagem modificada no dashboard",
        "width": 6,
        "height": 5,
        "order": 1,
        "category": "",
        "file": "",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "Tratada",
        "x": 680,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bd92f6d963cd9ff1",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "Salva modificada",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 910,
        "y": 360,
        "wires": [
            [
                "ea92842b15ad9c96"
            ]
        ]
    },
    {
        "id": "6a22c9a94b199b3f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Prepara para salvar e notificar",
        "func": "const folderName = global.get(\"folderName\")\nconst name = msg.filename\nmsg.filename = `/data/samples/${folderName}/modificada/${msg.topic}/${name}.jpeg`\nmsg.topic = \"Peça \" + msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "bd92f6d963cd9ff1"
            ]
        ]
    },
    {
        "id": "38f7d3bd494de475",
        "type": "ui_toast",
        "z": "f6f2187d.f17ca8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "ea92842b15ad9c96",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Ajusta mensagem",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Imagem salva",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 360,
        "wires": [
            [
                "38f7d3bd494de475"
            ]
        ]
    },
    {
        "id": "1dcf05b0d2683677",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "d83a913471b3af38"
            ]
        ]
    },
    {
        "id": "997ba6dd15acb4aa",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "6467147f1ab2b41c"
            ]
        ]
    },
    {
        "id": "8bc4974e4a716434",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "Verifica se a imagem não é \"vazia\"",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 920,
        "y": 220,
        "wires": [
            [
                "f0aad3cdfc49709c"
            ]
        ]
    },
    {
        "id": "7c8cee45fcc05e3d",
        "type": "ui_media",
        "z": "f6f2187d.f17ca8",
        "group": "736c295f87bb6595",
        "name": "Exibe imagem original no dashboard",
        "width": 6,
        "height": 5,
        "order": 1,
        "category": "",
        "file": "",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "Original",
        "x": 490,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "67e38778ed8a826e",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "Salva original",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "b5c286b9641163a5"
            ]
        ]
    },
    {
        "id": "5b808d2848333f49",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Prepara para salvar",
        "func": "\nconst name = msg.filename\nconst folderName = global.get(\"folderName\")\nmsg.filename = `/data/samples/${folderName}/original/${msg.topic}/${name}.jpeg`\nmsg.topic = \"Peça \" + msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "67e38778ed8a826e"
            ]
        ]
    },
    {
        "id": "b5c286b9641163a5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "ef5ed4b4b934a989",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "bcb69af65bce5409"
            ]
        ]
    },
    {
        "id": "0dcf9be5f31d3b85",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Nome do dataset",
        "tooltip": "",
        "group": "f42324fcb4554ff0",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 60,
        "wires": [
            [
                "f69b4c2d5a0f4d1b"
            ]
        ]
    },
    {
        "id": "bcb69af65bce5409",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "var epochTimestamp = msg.payload; // Substitua isso pelo seu epoch timestamp\nvar dateObj = new Date(epochTimestamp); // Multiplicar por 1000 para converter segundos em milissegundos\n\nvar day = String(dateObj.getDate()).padStart(2, '0');\nvar month = String(dateObj.getMonth() + 1).padStart(2, '0'); // Mês começa de 0\nvar year = dateObj.getFullYear();\nvar hours = String(dateObj.getHours()).padStart(2, '0');\nvar minutes = String(dateObj.getMinutes()).padStart(2, '0');\n\nvar formattedDate = `Dataset-${day}-${month}-${year}T${hours}H${minutes}`;\nglobal.set(\"folderName\", formattedDate)\nmsg.payload = formattedDate;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 60,
        "wires": [
            [
                "0dcf9be5f31d3b85"
            ]
        ]
    },
    {
        "id": "4f6da60d78700854",
        "type": "exec",
        "z": "f6f2187d.f17ca8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 540,
        "wires": [
            [
                "f31a598d.9fd2c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "a4548596d7bef8db",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "var filename = msg.req.params.fn;\n\nmsg.payload = `cd /data/samples/${filename} && zip -r ${filename}.zip *`\nmsg.filename = `/data/samples/${filename}/${filename}.zip`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 540,
        "wires": [
            [
                "4f6da60d78700854"
            ]
        ]
    },
    {
        "id": "f31a598d.9fd2c8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Set base path",
        "func": "var filename = msg.req.params.fn;\nvar basePath = `/data/samples/${filename}/${filename}.zip`;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\nmsg.headers = {\n    \"Content-Disposition\": `attachment; filename=${filename}.zip`\n};\nmsg.filename = basePath;\n\nreturn [msg, null];//fire output 1\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 680,
        "wires": [
            [
                "34dc99e5.495466"
            ],
            [
                "98261154.3006"
            ]
        ]
    },
    {
        "id": "98261154.3006",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 700,
        "wires": []
    },
    {
        "id": "34dc99e5.495466",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 640,
        "y": 660,
        "wires": [
            [
                "98261154.3006"
            ]
        ]
    },
    {
        "id": "67ecfa7f.3f0e24",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/files/:fn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "a4548596d7bef8db"
            ]
        ]
    },
    {
        "id": "9260db9a74cfbb78",
        "type": "watch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "files": "/data/samples/",
        "recursive": false,
        "x": 160,
        "y": 780,
        "wires": [
            [
                "fdb9f579cd3234e0"
            ]
        ]
    },
    {
        "id": "fdb9f579cd3234e0",
        "type": "fs-file-lister",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "start": "/data/samples/",
        "pattern": "*.*",
        "folders": "*",
        "hidden": true,
        "lstype": "directories",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": false,
        "showWarnings": true,
        "x": 440,
        "y": 780,
        "wires": [
            [
                "54671da27dc32318"
            ]
        ]
    },
    {
        "id": "a4b865afa17a9e8b",
        "type": "ui_ui_control",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "events": "all",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "fdb9f579cd3234e0"
            ]
        ]
    },
    {
        "id": "01afca746c9c5a16",
        "type": "ui_table",
        "z": "f6f2187d.f17ca8",
        "group": "04c2793207fd2604",
        "name": "",
        "order": 1,
        "width": 12,
        "height": 5,
        "columns": [
            {
                "field": "treinamento",
                "title": "Treinamento",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "link",
                "title": "Ação",
                "width": "",
                "align": "left",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 770,
        "y": 860,
        "wires": []
    },
    {
        "id": "54671da27dc32318",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "var inputArray = msg.payload; // O array de entrada\n\nvar transformedArray = inputArray.map(function (element) {\n    var datasetName = element.substring(element.lastIndexOf(\"/\") + 1); // Extrair o nome do dataset\n    var datasetUrl = \"http://127.0.0.1:1880/files/\" + datasetName; // Construir a URL do dataset\n    var downloadLink = '<a href=\"' + datasetUrl + '\" download=\"' + datasetName + '\">Baixar</a>';\n\n    return {\n        \"treinamento\": datasetName,\n        \"link\": downloadLink\n    };\n});\n\nmsg.payload = transformedArray;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 900,
        "wires": [
            [
                "dc8cda55206f8214",
                "01afca746c9c5a16"
            ]
        ]
    },
    {
        "id": "dc8cda55206f8214",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 960,
        "wires": []
    },
    {
        "id": "4c7e8842763bc84e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Limpa tabela",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 650,
        "y": 780,
        "wires": [
            [
                "01afca746c9c5a16"
            ]
        ]
    },
    {
        "id": "a28ad6a3d5b72532",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f42324fcb4554ff0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Criar novo dataset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "bcb69af65bce5409"
            ]
        ]
    },
    {
        "id": "f69b4c2d5a0f4d1b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 60,
        "wires": []
    }
]